<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ULCANS | Critical Considerations</title>
		<!-- Bulma -->
		<link rel="stylesheet" href="../css/bulma.min.css">
		<!-- CSS -->
		<link rel="stylesheet" href="../css/navbar.css">
		<link rel="stylesheet" href="../css/style.css">
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="../images/favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="../images/favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="../images/favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="../images/favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="../images/favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="../images/favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="../images/favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="../images/favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="../images/favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="../images/favicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="../images/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../images/favicons/favicon-16x16.png">
		<link rel="manifest" href="../images/favicons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="../images/favicons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<!-- Font Awesome -->
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		<!-- JS -->
		<script defer src="../js/navbar.js"></script>
	</head>

	<body class="has-navbar-fixed-top">
		<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
			<div class="container">
				<div class="navbar-brand">
					<!-- <p class="navbar-item">
						<a href="http://fibrotexusa.com" target="_blank">
							<img src="images/icons/fusa-logo.png" alt="Fibrotex company logo" height="30">
						</a>
					</p> -->
					<p class="navbar-item">
						<a href="#" class="title has-text-link has-text-weight-bold"><em>ULCANS Increment 1</em></a>
					</p>

					<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
						data-target="navbarBasicExample">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>

				<div id="navbarBasicExample" class="navbar-menu">
					<div class="navbar-start">
						<a class="navbar-item" href="../index.html">Home</a>

						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link" href="../views/config/typ_configs.html">Configuration</a>

							<div class="navbar-dropdown">
								<a class="navbar-item" href="../views/config/typ_configs.html">
									<span class="icon is-small">
										<img src="../images/icons/Icon_Configuration_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Typical Configurations</span>
								</a>
								<a class="navbar-item" href="../views/config/config_calculator.html">
									<span class="icon is-small">
										<img src="../images/icons/Icon_Configuration_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Configuration Calculator</span>
								</a>
								<a class="navbar-item" href="../views/config/config_list.html">
									<span class="icon is-small">
										<img src="../images/icons/Icon_Configuration_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Configuration List</span>
								</a>
							</div>
						</div>

						<a class="navbar-item is-active" href="../views/critical_considerations.html">Critical Considerations</a>
						<a class="navbar-item" href="../views/equipment.html">Equipment Description</a>

						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link" href="../views/procedures.html">
								Procedures
							</a>

							<div class="navbar-dropdown">
								<div class="nested navbar-item dropdown">
									<div class="dropdown-trigger">
										<a class="navbar-link is-arrowless" href="../views/setup.html" aria-haspopup="true" aria-controls="dropdown-menu">
											<span class="icon is-small">
												<img src="../images/icons/Icon_SetUp_120x120.png">
											</span>
											<span>&nbsp;&nbsp;Erect&nbsp;&nbsp;</span>
											<!-- <span class="icon is-small">
												<i class="fas fa-angle-down" aria-hidden="true"></i>
											</span> -->
										</a>
									</div>
									<div class="dropdown-menu" id="dropdown-menu" role="menu">
										<div class="dropdown-content erect">
											<a href="../views/setup.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Net Assembly Selection</span>
											</a>
											<a href="../views/setup/vid1.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Net Assembly Preparation</span>
											</a>
											<a href="../views/setup/vid2.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Folding Net Assembly</span>
											</a>
											<a href="../views/setup/setup1.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Deployment - 1</span>
											</a>
											<a href="../views/setup/vid3.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Deployment - 2</span>
											</a>
											<a href="../views/setup/vid4.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Deployment - 3</span>
											</a>
										</div>
									</div>
								</div>
								<hr class="navbar-divider">
								<div class="nested navbar-item dropdown">
									<div class="dropdown-trigger">
										<a class="navbar-link is-arrowless" href="../views/teardown.html" aria-haspopup="true" aria-controls="dropdown-menu">
											<span class="icon is-small">
												<img src="../images/icons/Icon_TearDown_120x120.png">
											</span>
											<span>&nbsp;&nbsp;Strike&nbsp;&nbsp;</span>
											<!-- <span class="icon is-small">
												<i class="fas fa-angle-down" aria-hidden="true"></i>
											</span> -->
										</a>
									</div>
									<div class="dropdown-menu" id="dropdown-menu" role="menu">
										<div class="dropdown-content">
											<a href="../views/teardown.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_TearDown_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Retrieval - 1</span>
											</a>
											<a href="../views/teardown/down1.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_TearDown_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Retrieval - 2</span>
											</a>
											<a href="../views/teardown/vid1.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_TearDown_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Hexagon Screen Fold Procedure</span>
											</a>
											<a href="../views/teardown/vid2.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_TearDown_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Rhombic Screen Fold Procedure</span>
											</a>
											<a href="../views/teardown/vid3.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_TearDown_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Folding Net Assembly</span>
											</a>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<!-- <div class="navbar-item has-dropdown is-hoverable">
								<a class="navbar-link" href="../views/procedures.html">Procedures</a>

								<div class="navbar-dropdown">
									<a class="navbar-item" href="../views/setup.html">
										<span class="icon is-small">
											<img src="../images/icons/Icon_SetUp_120x120.png">
										</span>
										<span>&nbsp;&nbsp;Erect</span>
									</a>
									<hr class="navbar-divider">
									<a class="navbar-item" href="../views/teardown.html">
										<span class="icon is-small">
											<img src="../images/icons/Icon_TearDown_120x120.png">
										</span>
										<span>&nbsp;&nbsp;Strike</span>
									</a>
								</div>
							</div> -->

					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link" href="../views/maintenance.html">Maintenance</a>

						<div class="navbar-dropdown">
							<a class="navbar-item" href="../views/maintenance.html">
								<span class="icon is-small">
									<img src="../images/icons/Icon_Maintenance_120x120.png">
								</span>
								<span>&nbsp;&nbsp;Screen Repair</span>
							</a>
							<a class="navbar-item" href="../views/maintenance/maintain2.html">
								<span class="icon is-small">
									<img src="../images/icons/Icon_Lacing_120x120.png">
								</span>
								<span>&nbsp;&nbsp;Becket Loop Repair</span>
							</a>
							<a class="navbar-item" href="../views/maintenance/maintain3.html">
								<span class="icon is-small">
									<img src="../images/icons/Icon_Maintenance_120x120.png">
								</span>
								<span>&nbsp;&nbsp;PMCS</span>
							</a>
						</div>
					</div>

					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link" href="../views/references.html">References</a>

						<div class="navbar-dropdown is-right">
							<a class="navbar-item" href="../views/references.html">
								<span class="icon is-small">
									<img src="../images/icons/Icon_References_120x120.png">
								</span>
								<span>&nbsp;&nbsp;Abbreviations & Acronyms</span>
							</a>
							<a class="navbar-item" href="../views/refs/r1.html">
								<span class="icon is-small">
									<img src="../images/icons/Icon_References_120x120.png">
								</span>
								<span>&nbsp;&nbsp;Documents</span>
							</a>
							<a class="navbar-item" href="../views/refs/r2.html">
								<span class="icon is-small">
									<img src="../images/icons/Icon_Safety_120x120.png">
								</span>
								<span>&nbsp;&nbsp;Safety Warnings</span>
							</a>
						</div>
					</div>
				</div>

				<!-- <div class="navbar-end">
					<div class="navbar-item">
						<p class="navbar-item has-text-black"><em>ULCANS Increment 1</em></p>
					</div>
				</div> -->
			</div>
		</nav>

		<!-- <section class="section">
			<div class="container">

				<h1 class="subtitle has-text-weight-bold is-2 has-text-centered">CRITICAL CONSIDERATIONS</h1>

				<section class="section">
					<h2 class="subtitle is-6 has-text-centered">
						This section details Important Information From Army Tactics, Techniques,
						and Procedures (ATTP) 3-34.39 - Camouflage, Concealment, and Decoys.
					</h2>

					<div class="container is-fullhd">
						<h1 class="subtitle has-text-weight-bold is-4">FOUR KEYS</h1>

						<div class="rows">

							<div class="row">
								<div class="columns">
									<div class="column">
										<div class="content is-medium">
											<ul>
												<li>
													Maintain minimum of 2 ft between net assembly and equipment. This prevents net from assuming the same
													shape and thermal signature as equipment.
												</li>
												<li>
													Ensure there are no vertical lines. Sloping net over equipment minimizes sharp edges,
													which are more easily detectable.
												</li>
												<li>
													Pin net securely to ground. This ensures that net effectively disrupts
													equipment shape and absorbs and scatters radar energy.
												</li>
												<li>
													Ensure net is taut and not flapping with wind.
												</li>
											</ul>
										</div>
									</div>

									<div class="column">
										<img src="../images/camo_basics/ulcans_front_view_brown.png" alt="Frontal Truck">
									</div>
								</div>
							</div>
							<br>
							<hr>
							<br>
							<div class="row" style="padding-top: 0.1px">
								<div class="columns" >
									<div class="column is-three-fifths">

										<h1 class="subtitle has-text-weight-bold is-4">BECKET LACING</h1>

										<p>When joining screens using becket lacing, it is helpful to remember "long, long, short"</p>
										<br>
										<img src="../images/camo_basics/becket_lacing.png"/>
									</div>

									<div class="column">
										<div class="content is-medium" align="justify">
											<ul>
												<li>
													After each short loop, run a long loop on screen 1 through a long loop on screen 2.
												</li>
												<li>
													Then run a long loop on screen 2 through next short loop on screen 1.
												</li>
												<li>
													Repeat "long, long, short" and knot last loop to secure.
												</li>
											</ul>
										</div>
									</div>
								</div>
								<br>
								<hr>
								<br>
								<div class="row">
									<h1 class="subtitle has-text-weight-bold is-4">DEPLOYMENT TIPS AND TRICKS</h1>

									<div class="content is-medium">
										<div class="columns">
											<div class="column">
												<ul>
													<li>
														Keep net assembly as small as possible.
													</li>
													<li>
														Place bottom of support poles close to equipment, with shape disruptor end pointing away
													</li>
													<li>
														At least eight tent pins are recommended for small configurations. Add more stakes for larger configurations.
													</li>
													<li>
														Place tent pins opposite each other to ensure even distribution of net tension.
													</li>
													<li>
														Position personnel on opposite corners of equipment, pulling to create net tension.
													</li>
													<li>
														Drive tent pins halfway to save time when adjusting net. Drive into ground fully once net is deployed.
													</li>
													<li>
														If necessary, position poles on equipment to create required clearance between net and equipment.
													</li>
													<li>
														Extend support pole at tallest point of equipment first.
													</li>
												</ul>
											</div>

											<div class="column">
												<img src="../images/camo_basics/ulcans_overhead_view_brown.png" alt="Aerial of Truck">
											</div>
										</div>
										<ul>
									</div>
								</div>
								<br>
								<hr>
								<br>
								<div class="row">

									<h1 class="subtitle has-text-weight-bold is-4">ENVIRONMENT</h1>

									<div class="content is-medium">
										<div class="columns">
											<div class="column">
												<ul>
													<li>
														Embed system into environment as much as possible. Concealment improves with increased foliage between equipment and enemy.
													</li>
													<li>
														Avoid disturbing environment (foliage, snow, sand) around system. Evidence of activity (tire tracks, footprints) can affect the multispectral reflective properties of the environment.
													</li>
													<li>
														Use natural shade to avoid solar loading.
													</li>
													<li>
														Angle the system so that vegetation, not the sky, is reflected as much as possible.
													</li>
													<li>
														Create natural, non-geometric shapes and outlines to better resemble the environment.
													</li>
												</ul>

												<img src="../images/camo_basics/embedded_system.png"/>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</section> -->

		<section class="section">
			<div class="container">

				<h1 class="subtitle has-text-weight-bold is-2 has-text-centered">CRITICAL CONSIDERATIONS</h1>
				<br>
				<h1 class="subtitle has-text-weight-bold is-4">INTRODUCTION</h1>

				<div class="content is-medium">
					<p>
						Fibrotex USA has decades of experience developing, training, and using a variety of signature management systems and techniques.
					</p>

					<p>
						From this experience, multiple subject matter experts have distilled the most relevant information into this guide, which is intended as a supplement to the ULCANS Increment I Technical Manual.
					</p>

					<p>
						The information contained in this section is based on frequently asked questions and commonly observed 'mistakes' in training and in the field.
					</p>

					<hr>

					<h1 class="subtitle has-text-weight-bold has-text-black is-4">LOCATION</h1>

					<p>
						It is best practice to minimize the area of the side facing the threat when positioning/orienting the asset and system.
					</p>

					<p>
						It is beneficial to deploy the system behind at least the first tree line, with concealment improving with increased foliage between the asset and the threat.
					</p>

					<p>
						To decrease detectability, avoid disturbing the environment (foliage, snow, sand, etc.) around and especially in front of the system. Tire tracks, footprints, and other evidence of activity can affect the multispectral reflective properties of the environment around the system.
						<img src="../images/camo_basics/embedded_system2.png"/>
					</p>



					<p>
						When determining which pattern or side of the system to deploy, consider the effect of shadows on the system. It is recommended to select the lighter side when in doubt, as shadows from the surroundings will darken the pattern when deployed.
					</p>

					<p>
						It is best to embed the system into the environment as much as possible. To avoid solar loading and ensure the system reflects the properties of the immediate environment rather than the sky, position the system to be naturally shaded.
					</p>

					<p>
						Naturally, part of the system will reflect the sky. It is important to minimize the area which is at an angle to reflect the sky towards the threat. Angle the system so that vegetation is reflected as much as possible.
					</p>

					<hr>

					<h1 class="subtitle has-text-weight-bold has-text-black is-4">DEPLOYMENT</h1>

					<p>
						It is recommended to size up whenever calculating the appropriate configuration for net assembly based on the size of the asset to be concealed. This allows for more mobility under the nets without compromising their concealment capabilities.
					</p>
					<br>

					<div class="columns">
						<div class="column">
							<p class="has-text-weight-bold has-text-black">POSITIONING THE POLES</p>
								<li>
									Place the bottom of the poles as close as possible to the asset to be concealed, with the shape disruptor end pointing away.
								</li>
								<li>
									Arrange the poles to allow a wide enough space between for vehicle(s) to depart without needing to reposition poles.
								</li>
								<li>
									Place corner poles at 45-degree angles from each corner of the asset to be concealed. Place additional poles at 90 degrees pointing away from the asset. The GTA illustrates this configuration clearly.
								</li>
						</div>
						<div class="column">
							<img src="../images/setup/deployment/Deploy_TruckNetEntry.png">
						</div>
					</div>

					<div class="columns">
						<div class="column">

							<p class="has-text-weight-bold">POSITIONING THE ROLLED NET CONFIGURATION</p>
								<li>
									When placing the rolled net configuration on top of the asset to be concealed, take into account variations in the height of the asset. If one side or area is taller than another, the folded/rolled net should be placed closer to the high point to ensure all sides are covered when the net is unfolded/unrolled. If the asset is of even height, without a tall point, the folded/rolled net should be placed in the center.
								</li>
							<br>

							<p class="has-text-weight-bold">DEPLOYING THE STAKES</p>
								<li>
									Create tension in the net by aligning two personnel on opposite corners of the system, having them pull against each other and away from the asset at the same time. Each stake should have a counterpart on the opposite side of the system to ensure even distribution of tension from the net(s).
								</li>
								<li>
									It is recommended to use at least eight stakes for the smallest configuration. Add more stakes for larger configurations.
								</li>
								<li>
									Driving the stakes roughly half their length into the ground when first deploying is useful and time saving when repositioning is required to adjust the net and address slack. Make sure to drive the stakes all the way into the ground once the net is deployed properly.
								</li>
								<li>
									When slack in the net cannot be eliminated by repositioning the location of the stakes, it is helpful to use the becket loops to create a small fold that reduces the effect of slack. To do so, thread one long becket loop through the adjacent short loop, then double back with the long loop and attach to the stake.
								</li>
						</div>
					</div>

					<div class="columns">
						<div class="column">
							<p class="has-text-weight-bold">DEPLOYING THE NETS AND POLES</p>
								<li>
									Once stakes are deployed, begin extending the support poles, starting at the tallest point of the asset (usually the center) and deploy the first poles. Work your way to the lowest point of the asset on both sides to maintain some level of symmetry.
								</li>
								<li>
									Always extend the upper section/clamp first.
								</li>
								<li>
									Always lock the clamp once extended until a 'click' is heard.
								</li>
								<li>
									Take advantage of the pole's foot spikes to maximize hold, reinforce net tension, and avoid system movement.
								</li>
								<li>
									It is recommended to angle the poles so that the smaller side of the figure eight shape disruptor is pointed towards the corner of the system at each corner.
								</li>
								<li>
									Place the poles in a way such that the base of each pole is as close to the asset as possible without interfering with vehicle movement or critical access points.
								</li>
								<li>
									If needed, position poles on top of a vehicle to create the required clearance between the net and the platform without interfering with vehicle movement or critical access points.
								</li>
						</div>
						<div class="column">
							<img src="../images/camo_basics/ulcans_front_view_brown.png" alt="Frontal Truck">
						</div>
					</div>

					<hr>

					<h1 class="subtitle has-text-weight-bold has-text-black is-4">GENERAL</h1>

						<li>
							Camouflage is compromised of two basic principles: shape disruption and 'noise.'
						</li>
						<li>
							<b>Shape:</b> There are no straight lines in nature (apart from urban environments, which are not natural). To better resemble the environment, it is important to create natural, non-geometric shapes or outlines with the systems. This component of camouflage is created by the end user.
						</li>
						<li>
							<b>Noise:</b> The goal is to mimic the noise created by the environment within the different bandwidths detected by sensors. Noise is created by the manufacturer.
						</li>
						<li>
							It is recommended to use an 'outside spotter' to guide system deployment and ensure the system merges with the environment and does not create unnatural shapes or angles that may contrast with the background.
						</li>
						<li>
							Deploy poles so that the wide side of the shape disruptor is on the seam to reinforce net interconnection and direct net tension such that it does not create gaps in the quick connection seams.
						</li>

						<img src="../images/camo_basics/ulcans_overhead_view_brown.png" alt="Aerial of Truck">

						<li>
							If you anticipate needing to open the net connections (e.g. to take out a barrel), begin quick connection process at the edges of the system working towards the center. This will allow them to disconnect from the center to create a small opening rather than needing to undo an entire side, compromising the system as a whole.
						</li>
						<li>
							It is possible to use the system cases to cover sharp edges of the platform like concertina fences to reduce the risk of ripping the nets.
						</li>
						<li>
							Inversion is the most dangerous time frame, both day-to-night and night-to-day, due to larger temperature differences between the air, ground, foliage, rocks, and other environmental components. Inversion can take up to three hours, depending on global position and time of year.
						</li>
						<li>
							When operating a vehicle under a net, heat will be generated that may compromise the system. It is important to note that thermal devices detect particles, not actual thermal energy. There are two strategies for mitigating this risk:
							<ul>
								<li>
									Create an exhaust extension to force the exhaust underneathe/outside the net.
								</li>
								<li>
									Create openings in the net roof to function as a chimney to allow the particles to escape.
								</li>
							</ul>
						</li>
				</div>
			</div>
		</section>
	</body>
</html>
