<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ULCANS | Equipment Description</title>
		<!-- Bulma -->
		<link rel="stylesheet" href="../css/bulma.min.css">
		<!-- CSS -->
		<link rel="stylesheet" href="../css/style.css">
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="../images/favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="../images/favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="../images/favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="../images/favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="../images/favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="../images/favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="../images/favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="../images/favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="../images/favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="../images/favicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="../images/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../images/favicons/favicon-16x16.png">
		<link rel="manifest" href="../images/favicons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="../images/favicons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<!-- Font Awesome -->
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		<!-- JS -->
		<script defer src="../js/navbar.js"></script>
	</head>

	<body>
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="container">
				<div class="navbar-brand">
					<p class="navbar-item">
						<a href="http://fibrotexusa.com" target="_blank">
							<img src="../images/icons/fusa-logo.png" alt="Fibrotex company logo" height="30">
						</a>
					</p>

					<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
						data-target="navbarBasicExample">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>

				<div id="navbarBasicExample" class="navbar-menu">
					<div class="navbar-start">
						<a class="navbar-item" href="../index.html">Home</a>

						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link" href="#">Configuration</a>

							<div class="navbar-dropdown">
								<a class="navbar-item" href="config/typ_configs.html">Typical Configurations</a>
								<a class="navbar-item" href="config/config_calculator.html">Configuration Calculator</a>
								<a class="navbar-item" href="config/config_list.html">Configuration List</a>
							</div>
						</div>

						<a class="navbar-item" href="critical_considerations.html">Critical Considerations</a>
						<a class="navbar-item is-active" href="equipment.html">Equipment Description</a>

						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link" href="procedures.html">Procedures</a>

							<div class="navbar-dropdown">
								<a class="navbar-item" href="setup.html">Erect</a>
								<a class="navbar-item" href="tear_down.html">Strike</a>
							</div>
						</div>

						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link" href="maintenance.html">Maintenance</a>

							<div class="navbar-dropdown">
								<a class="navbar-item" href="maintenance.html">Screen Repair</a>
								<a class="navbar-item" href="maintenance/maintain2.html">Becket Loop Repair</a>
								<a class="navbar-item" href="maintenance/maintain3.html">PMCS</a>
							</div>
						</div>

						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link" href="references.html">References</a>

							<div class="navbar-dropdown">
								<a class="navbar-item" href="references.html">Abbreviations & Acronyms</a>
								<a class="navbar-item" href="refs/r1.html">Documents</a>
								<a class="navbar-item" href="refs/r2.html">Safety Warnings</a>
							</div>
						</div>
					</div>

					<div class="navbar-end">
						<div class="navbar-item">
							<p class="navbar-item has-text-black"><em>ULCANS Increment 1</em></p>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<section class="section">
			<div class="container">

				<h1 class="subtitle has-text-weight-bold is-2 has-text-centered">EQUIPMENT DESCRIPTION</h1>	
				<br>
				
				<div class="container">
					<h1 class="subtitle has-text-weight-bold is-4">GENERAL INFORMATION</h1>

					<div class="columns">
						<div class="column">
							<div class="content is-medium">
								<p>
									ULCANS is a 2D reversible, all-weather, multi-spectral, modular camouflage system that
									provides visual, near IR, shortwave IR, thermal, and radar signature concealment
									for stationary vehicles, weapons systems, tactical operation centers, personnel,
									and other tactical equipment.
								</p>
								
								<p>
									ULCANS is designed for rapid deployment and recovery and is operator repairable
									and maintainable.
								</p>
								
							</div>
						</div>
						<div class="column">
							<figure class="image is-fullhd">
								<img src="../images/setup/deployment/Deploy_TruckNetEntry.png" alt="truck">
							</figure>
						</div>
					</div>

					<br><hr><br>

					<div class="rows">
						
						<div class="row">
							
							<div class="columns">
								<div class="column">
									
									<div class="rows">
										<div class="row ">
											<h1 class="subtitle has-text-weight-bold is-4">
												SYSTEM TYPE
											</h1>
										</div>
										<br>
										<div class="row">
											<div class="content is-medium">
												<p>
													ULCANS has two system types: Type 1, General Purpose (R/S), and Type 2, Communications (R/T).
												</p>
											</div>
											
										</div>
									</div>
									<br>
									<br>
									<!-- This section has colums for the class types -->
									<div class="columns">
										
										<div class="column" align="justify">
											<h2 class="subtitle has-text-weight-bold is-5 has-text-centered">Type 1, General Purpose (R/S)</h2>
											<div class="content is-medium">
												<p >
													Type I (camouflage edge band) is radar scattering and used for concealing non-radar ground equipment and tactical systems. 
												</p>
											</div>
										</div>
										<div class="column" align="justify">
											<h2 class="subtitle has-text-weight-bold is-5 has-text-centered">Type 2, Communications (R/T)</h2>
											<div class="content is-medium">
												<p>
													Type II (solid color edge band) is radar transparent and used for concealing ground radar equipment.
												</p>
											</div>
										</div>
									</div>
									<!-- Class type colum ends here -->
								</div>
							</div>
						</div>

						<div class="row">
							<figure class="image is-fullhd">
								<img src="../images/equipment/ED_ID_Tags.png" alt="ED_ID_TAGS">
							</figure>
						</div>

						<br><hr><br>
						
						<div class="row">
							<h1 class="subtitle has-text-weight-bold is-4 ">SYSTEM CLASS</h1>

							<div class="content is-medium">
								<p>
									ULCANS reduces visual detection by providing environment-specific color patterns. Each screen is reversible and printed with two different camouflage patterns. System class specifies the color combination.
								</p>
								<br>
								<p>
									There are three ULCANS classes, which specify the screen color combination: Class 1 (Light/Dark Woodland), Class 2 (Desert/Urban), and Class 3 (Snow/Alpine).
								</p>
							</div>
						</div>

						<br><hr><br>
						
						<div class="row">
							<h1 class="subtitle has-text-weight-bold is-4">SCREEN SYSTEM</h1>
							<div class="columns">
								<div class="column">
									<div class="content is-medium">
										<p>
											A modular camouflage screen system consists of the following:
										</p>
										<ul>
											<li>1 ea. Hexagon screen</li>
											<li>1 ea. Rhombic screen</li>
											<li>1 ea. Screen carrying case</li>
											<li>1 ea. Repair kit</li>
											<li>1 ea. Technical manual</li>
											<li>1 ea. Graphic training aid</li>
										</ul>
										<p>
											An identification tag on the carrying case identifies the type
											and class of the screen systems. The case color corresponds to the
											system class: Class 1, Woodland (green); Class 2, Desert/Urban (tan);
											Class 3, Snow/Alpine (gray).
										</p>
									</div>
								</div>
								<div class="column">
									<figure class="image is-fullhd">
										<img src="../images/equipment/ED_screen_system.png" alt="Screen System">
									</figure>
								</div>
																
							</div>
						</div>

						<br><hr><br>

						<div class="row">
							<h1 class="subtitle has-text-weight-bold is-4">HEXAGON & RHOMBIC SCREEN</h1>
							<div class="content is-medium">
								<p>
									Each screen has a quick connection system on the outer edges used to
									connect multiple screens together. Identification tags (2) inform whether
									the screen is Type I, General Purpose (R/S), or Type II, Communications (R/T).
									A camouflage edge band (1) indicates a Type I system and a solid color edge band (1)
									indicates Type II.
								</p>
							</div>
						</div>
						<br><br>
						
						<div class="row">
							<div class="columns ">
								<div class="column">
									<br>
									<figure class="is-fullhd">
										<img src="../images/equipment/ED_rhombic_CO.png" alt="ED_RHOMBIC_CO" >
									</figure>
									
								</div>
								<br>
								<div class="column">
									<br>
									<figure class="is-fullhd">
										<img src="../images/equipment/ED_hexagon_CO.png"  alt="ED_HEXAGON_CO">
									</figure>					
								</div>
							</div>
						</div>

						<br><hr><br>

						<div class="row">
							
							<div class="columns is-gapless">
								<h1 class="subtitle has-text-weight-bold is-4">REPAIR KIT</h1>
								
								<div class="column">
									<figure class="is-fullhd">
										<img src="../images/equipment/ED_repair_kit.png" alt="ED_REPAIR_KIT">
									</figure>
								</div>
								
								<div class="column">
									<div class="rows">

										<div class="row">

											<div class="column">
												
												<div class="content is-medium">
													<p>
														A repair kit is furnished to make field repairs of the ULCANS screens and return the system to a
														serviceable condition. The repair material in the kit is the same color class as the screen system.
														The repair kit is stored in a pocket inside the support system bag.
													</p>
												</div>
											</div>
											
											
											<div class="column">
												<div class="content is-medium">
													<p>A repair kit includes the following:</p>
													<ul>
														<li>Repair kit bag</li>
														<li>300 ea. Cable ties</li>
														<li>25 ft² Screen repair material (same color as system class)</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>							
						</div>

						<br><hr><br>
						
						<div class="row">

							<h1  class="subtitle has-text-weight-bold is-4">SUPPORT SYSTEM</h1>

							<div class="columns">
								
								<div class="column">
									<div class="content is-medium">
										<p>
											The support system includes components that create space between the camouflage screen
											and equipment being concealed in order to break up the visible outline of the
											equipment.
										</p>

										<p>The support system includes the following:</p>
										<ul>
											<li>1 ea. Support system carrying bag (3)</li>
											<li>5 ea. 13.77 ft (4.2 m) Telescopic support poles (2)</li>
											<li>1 ea. Tent pin carry case (5)</li>
											<li>20 ea. Tent pins (1)</li>
											<li>1 ea. Hammer (6)</li>
											<li>1 ea. Spanner wrench (4)</li>
										</ul>
									</div>
								</div>
								
								<div class="column">
									<figure class="is-fullhd">
										<img src="../images/equipment/SupportSystemBag_CO.png" alt="Support Sys">
									</figure>
								</div>
							</div>
							
						</div>
						<br><hr><br>

						<div class="row">
							<h1 class="subtitle has-text-weight-bold is-4">TELESCOPIC SUPPORT POLES</h1>
							<div class="columns is-gapless">
								
								<div class="column">
									
									<figure class="is-fullhd has-text-centered">
										<img id="support-pole" src="../images/equipment/ED_support_pole_CO.png" alt="Pole">
									</figure>
								</div>
								
								<div class="column">
									
									<div class="content is-medium">
										<p>
											Telescopic support poles have an integral shape disruptor (2) that breaks up the geometric
											screen shapes to improve concealment. They are adjusted using integral clamps (1).
										</p>
										<p>
											Poles are 5.4 ft (1.6 m) when collapsed and 13.77 ft (4.2 m) when extended.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
