<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ULCANS | Maintenance</title>
		<!-- Bulma -->
		<link rel="stylesheet" href="../css/bulma.min.css">
		<!-- CSS -->
		<link rel="stylesheet" href="../css/equipment.css">
		<link rel="stylesheet" href="../css/style.css">
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="../images/favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="../images/favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="../images/favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="../images/favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="../images/favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="../images/favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="../images/favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="../images/favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="../images/favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="../images/favicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="../images/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../images/favicons/favicon-16x16.png">
		<link rel="manifest" href="../images/favicons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="../images/favicons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<!-- Font Awesome -->
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		<!-- JS -->
		<script defer src="../js/navbar.js"></script>
		<style>
			.box { border: 3px solid black; }
		</style>
	</head>

	<body class="has-navbar-fixed-top">
		<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
			<div class="container">
				<div class="navbar-brand">
					<!-- <p class="navbar-item">
						<a href="http://fibrotexusa.com" target="_blank">
							<img src="images/icons/fusa-logo.png" alt="Fibrotex company logo" height="30">
						</a>
					</p> -->
					<p class="navbar-item">
						<a href="#" class="title has-text-link has-text-weight-bold"><em>ULCANS Increment 1</em></a>
					</p>

					<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
						data-target="navbarBasicExample">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>

				<div id="navbarBasicExample" class="navbar-menu">
					<div class="navbar-start">
						<a class="navbar-item" href="../index.html">Home</a>

						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link" href="../views/config/typ_configs.html">Configuration</a>

							<div class="navbar-dropdown">
								<a class="navbar-item" href="../views/config/typ_configs.html">
									<span class="icon is-small">
										<img src="../images/icons/Icon_Configuration_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Typical Configurations</span>
								</a>
								<a class="navbar-item" href="../views/config/config_calculator.html">
									<span class="icon is-small">
										<img src="../images/icons/Icon_Configuration_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Configuration Calculator</span>
								</a>
								<a class="navbar-item" href="../views/config/config_list.html">
									<span class="icon is-small">
										<img src="../images/icons/Icon_Configuration_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Configuration List</span>
								</a>
							</div>
						</div>

						<a class="navbar-item" href="../views/critical_considerations.html">Critical Considerations</a>
						<a class="navbar-item" href="../views/equipment.html">Equipment Description</a>

						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link" href="../views/procedures.html">
								Procedures
							</a>

							<div class="navbar-dropdown">
								<div class="nested navbar-item dropdown">
									<div class="dropdown-trigger">
										<a class="navbar-link is-arrowless" href="../views/setup.html" aria-haspopup="true" aria-controls="dropdown-menu">
											<span class="icon is-small">
												<img src="../images/icons/Icon_SetUp_120x120.png">
											</span>
											<span>&nbsp;&nbsp;Erect&nbsp;&nbsp;</span>
											<!-- <span class="icon is-small">
												<i class="fas fa-angle-down" aria-hidden="true"></i>
											</span> -->
										</a>
									</div>
									<div class="dropdown-menu" id="dropdown-menu" role="menu">
										<div class="dropdown-content erect">
											<a href="../views/setup.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Net Assembly Selection</span>
											</a>
											<a href="../views/setup/vid1.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Net Assembly Preparation</span>
											</a>
											<a href="../views/setup/vid2.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Folding Net Assembly</span>
											</a>
											<a href="../views/setup/setup1.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Deployment - 1</span>
											</a>
											<a href="../views/setup/vid3.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Deployment - 2</span>
											</a>
											<a href="../views/setup/vid4.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Deployment - 3</span>
											</a>
										</div>
									</div>
								</div>
								<hr class="navbar-divider">
								<div class="nested navbar-item dropdown">
									<div class="dropdown-trigger">
										<a class="navbar-link is-arrowless" href="../views/tear_down.html" aria-haspopup="true" aria-controls="dropdown-menu">
											<span class="icon is-small">
												<img src="../images/icons/Icon_TearDown_120x120.png">
											</span>
											<span>&nbsp;&nbsp;Strike&nbsp;&nbsp;</span>
											<!-- <span class="icon is-small">
												<i class="fas fa-angle-down" aria-hidden="true"></i>
											</span> -->
										</a>
									</div>
									<div class="dropdown-menu" id="dropdown-menu" role="menu">
										<div class="dropdown-content">
											<a href="../views/teardown.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_TearDown_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Retrieval - 1</span>
											</a>
											<a href="../views/teardown/down1.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_TearDown_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Retrieval - 2</span>
											</a>
											<a href="../views/teardown/vid1.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_TearDown_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Hexagon Screen Fold Procedure</span>
											</a>
											<a href="../views/teardown/vid2.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_TearDown_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Rhombic Screen Fold Procedure</span>
											</a>
											<a href="../views/teardown/vid3.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../images/icons/Icon_TearDown_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Folding Net Assembly</span>
											</a>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<!-- <div class="navbar-item has-dropdown is-hoverable">
								<a class="navbar-link" href="../views/procedures.html">Procedures</a>

								<div class="navbar-dropdown">
									<a class="navbar-item" href="../views/setup.html">
										<span class="icon is-small">
											<img src="../images/icons/Icon_SetUp_120x120.png">
										</span>
										<span>&nbsp;&nbsp;Erect</span>
									</a>
									<hr class="navbar-divider">
									<a class="navbar-item" href="../views/tear_down.html">
										<span class="icon is-small">
											<img src="../images/icons/Icon_TearDown_120x120.png">
										</span>
										<span>&nbsp;&nbsp;Strike</span>
									</a>
								</div>
							</div> -->

					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link is-active" href="../views/maintenance.html">Maintenance</a>

						<div class="navbar-dropdown">
							<a class="navbar-item is-active" href="../views/maintenance.html">
								<span class="icon is-small">
									<img src="../images/icons/Icon_Maintenance_120x120.png">
								</span>
								<span>&nbsp;&nbsp;Screen Repair</span>
							</a>
							<a class="navbar-item" href="../views/maintenance/maintain2.html">
								<span class="icon is-small">
									<img src="../images/icons/Icon_Lacing_120x120.png">
								</span>
								<span>&nbsp;&nbsp;Becket Loop Repair</span>
							</a>
							<a class="navbar-item" href="../views/maintenance/maintain3.html">
								<span class="icon is-small">
									<img src="../images/icons/Icon_Maintenance_120x120.png">
								</span>
								<span>&nbsp;&nbsp;PMCS</span>
							</a>
						</div>
					</div>

					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link" href="../views/references.html">References</a>

						<div class="navbar-dropdown is-right">
							<a class="navbar-item" href="../views/references.html">
								<span class="icon is-small">
									<img src="../images/icons/Icon_References_120x120.png">
								</span>
								<span>&nbsp;&nbsp;Abbreviations & Acronyms</span>
							</a>
							<a class="navbar-item" href="../views/refs/r1.html">
								<span class="icon is-small">
									<img src="../images/icons/Icon_References_120x120.png">
								</span>
								<span>&nbsp;&nbsp;Documents</span>
							</a>
							<a class="navbar-item" href="../views/refs/r2.html">
								<span class="icon is-small">
									<img src="../images/icons/Icon_Safety_120x120.png">
								</span>
								<span>&nbsp;&nbsp;Safety Warnings</span>
							</a>
						</div>
					</div>
				</div>

				<!-- <div class="navbar-end">
					<div class="navbar-item">
						<p class="navbar-item has-text-black"><em>ULCANS Increment 1</em></p>
					</div>
				</div> -->
			</div>
		</nav>

		<section class="section">
			<div class="container">

				<h1 class="subtitle has-text-weight-bold is-2 has-text-centered">MAINTENANCE</h1>

				<a href="../index.html">Home</a>
				<span> | </span>
				<a href="maintenance/maintain2.html">Next</a>
				<br><br>

				<h1 class="subtitle has-text-weight-bold is-4">REPAIR USING CABLE TIES (small tears)</h1>
				<div class="container">
					<div class="rows">

						<div class="row" >
							<div class="content is-medium">
								<div class="box">
									<p class="has-text-centered"><b>NOTE:</b> If cable ties are not available,
										use twine, cord, string, or lightweight rope.
									</p>
								</div>
								<p>
									1. Remove debris and ragged material from damaged area of screen.
								</p>

								<div class="box">
									<p class="has-text-centered">
										<b>NOTE:</b> Position cable ties 1 in apart and 1 in (2.54 cm) away from edge of tear.
									</p>
								</div>
								<p>
									2 .Starting at one end of tear, push cable tie through net material.
								</p>
								<p>
									3. Position cable tie perpendicular to tear. Push through net material on other side of tear.
								</p>
								<p>
									4. Close cable tie and tighten. Ensure material is tightly secured to prevent loose material or gaps.
								</p>
								<p>
									5. Repeat Steps 2-4 until tear is sealed. Cut off excess cable ties.
								</p>
							</div>
						</div>
						<hr>
						<div class="row">
							<h1 class="subtitle has-text-weight-bold is-4">REPAIR USING REPAIR MATERIAL (large tears)</h1>
							<div class="content is-medium">
								<p>
									1. Remove debris and ragged material from damaged area of screen.
								</p>
								<p>
									2. Select a piece of screen material from the screen repair kit of the correct type and class.
								</p>
								<div class="box">
									<p class="has-text-centered">
										<b>NOTE:</b> Repair material should be slightly larger than repair area.
									</p>
								</div>
								<p>
									3. Cut repair material to appropriate size.
								</p>
								<p>
									4. Position repair material over damaged screen. Attach using the <b class="has-text-weight-bold">Repair Using Cable Ties</b> procedure.
								</p>
							</div>

							<div class="rows">
								<div class="row">
									<div class="columns">
										<div class="column">
											<img src="../images/maintenance/Maintenance_ScreenRepair01.png" alt="SCREEN REPAIR 1">
										</div>
										<div class="column">
											<img style="margin-left:160px; margin-top:50px;" src="../images/maintenance/arrow.png" alt="Right arrow">
										</div>
										<div class="column">
											<img src="../images/maintenance/Maintenance_ScreenRepair02.png" alt="SCREEN REPAIR 2">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
