<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ULCANS | References</title>
		<!-- Bulma -->
		<link rel="stylesheet" href="../css/bulma.min.css">
		<!-- CSS -->
		<link rel="stylesheet" href="../css/style.css">
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="../images/favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="../images/favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="../images/favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="../images/favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="../images/favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="../images/favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="../images/favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="../images/favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="../images/favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="../images/favicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="../images/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../images/favicons/favicon-16x16.png">
		<link rel="manifest" href="../images/favicons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="../images/favicons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<!-- Font Awesome -->
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		<!-- JS -->
		<script defer src="../js/navbar.js"></script>
	</head>

	<body>
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="container">
				<div class="navbar-brand">
					<p class="navbar-item">
						<a href="http://fibrotexusa.com" target="_blank">
							<img src="../images/icons/fusa-logo.png" alt="Fibrotex company logo" height="30">
						</a>
					</p>

					<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
						data-target="navbarBasicExample">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>

				<div id="navbarBasicExample" class="navbar-menu">
					<div class="navbar-start">
						<a class="navbar-item" href="../index.html">Home</a>

						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link" href="#">Configuration</a>

							<div class="navbar-dropdown">
								<a class="navbar-item" href="config/typ_configs.html">Typical Configurations</a>
								<a class="navbar-item" href="config/config_calculator.html">Configuration Calculator</a>
								<a class="navbar-item" href="config/config_list.html">Configuration List</a>
							</div>
						</div>

						<a class="navbar-item" href="critical_considerations.html">Critical Considerations</a>
						<a class="navbar-item" href="equipment.html">Equipment Description</a>

						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link" href="procedures.html">Procedures</a>

							<div class="navbar-dropdown">
								<a class="navbar-item" href="setup.html">Erect</a>
								<a class="navbar-item" href="tear_down.html">Strike</a>
							</div>
						</div>

						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link" href="maintenance.html">Maintenance</a>

							<div class="navbar-dropdown">
								<a class="navbar-item" href="maintenance.html">Screen Repair</a>
								<a class="navbar-item" href="maintenance/maintain2.html">Becket Loop Repair</a>
								<a class="navbar-item" href="maintenance/maintain3.html">PMCS</a>
							</div>
						</div>

						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link is-active" href="references.html">References</a>

							<div class="navbar-dropdown">
								<a class="navbar-item is-active" href="references.html">Abbreviations & Acronyms</a>
								<a class="navbar-item" href="refs/r1.html">Documents</a>
								<a class="navbar-item" href="refs/r2.html">Safety Warnings</a>
							</div>
						</div>
					</div>

					<div class="navbar-end">
						<div class="navbar-item">
							<p class="navbar-item has-text-black"><em>ULCANS Increment 1</em></p>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<section class="section">
			<div class="container">

				<h1 class="subtitle has-text-weight-bold is-2 has-text-centered">REFERENCES</h1>

				<a href="../index.html">Home</a>
				<span> | </span>
				<a href="refs/r1.html">Next</a>

				<br><br>

				<h1 class="subtitle has-text-weight-bold is-4">ABBREVIATIONS & ACRONYMS</h1>
				<table class="table is-hoverable is-narrow is-fullwidth">
					<thead style="background-color: #636363;">
						<tr style="text-align: center; vertical-align: middle">
							<th style="border: 1px solid #000000; color: #ffffff; font-size: 18px; text-align: center;
										vertical-align: middle;">Abbreviation/Acronym</th>
							<th style="border: 1px solid #000000; color: #ffffff; font-size: 18px; text-align: center;
										vertical-align: middle;">Meaning</th>
						</tr>
					</thead>
					<tbody>
						<tr style="text-align: center; vertical-align: middle">
							<td style="border: 1px solid #000000;">cm</td>
							<td style="border: 1px solid #000000;">Centimeter</td>
						</tr>
						<tr style="text-align: center; vertical-align: middle">
							<td style="border: 1px solid #000000;">&#176;</td>
							<td style="border: 1px solid #000000;">Degrees</td>
						</tr>
						<tr style="text-align: center; vertical-align: middle">
							<td style="border: 1px solid #000000;">ft</td>
							<td style="border: 1px solid #000000;">Foot</td>
						</tr>
						<tr style="text-align: center; vertical-align: middle">
							<td style="border: 1px solid #000000;">ft²</td>
							<td style="border: 1px solid #000000;">Square Feet</td>
						</tr>
						<tr style="text-align: center; vertical-align: middle">
							<td style="border: 1px solid #000000;">H</td>
							<td style="border: 1px solid #000000;">Height</td>
						</tr>
						<tr style="text-align: center; vertical-align: middle">
							<td style="border: 1px solid #000000;">in</td>
							<td style="border: 1px solid #000000;">Inch</td>
						</tr>
						<tr style="text-align: center; vertical-align: middle">
							<td style="border: 1px solid #000000;">kg</td>
							<td style="border: 1px solid #000000;">Kilogram</td>
						</tr>
						<tr style="text-align: center; vertical-align: middle">
							<td style="border: 1px solid #000000;">L</td>
							<td style="border: 1px solid #000000;">Length</td>
						</tr>
						<tr style="text-align: center; vertical-align: middle">
							<td style="border: 1px solid #000000;">lb</td>
							<td style="border: 1px solid #000000;">Pound</td>
						</tr>
						<tr style="text-align: center; vertical-align: middle">
							<td style="border: 1px solid #000000;">m</td>
							<td style="border: 1px solid #000000;">Meter</td>
						</tr>
						<tr style="text-align: center; vertical-align: middle">
							<td style="border: 1px solid #000000;">m²</td>
							<td style="border: 1px solid #000000;">Square Meters</td>
						</tr>
						<tr style="text-align: center; vertical-align: middle">
							<td style="border: 1px solid #000000;">NSN</td>
							<td style="border: 1px solid #000000;">National Stock Number</td>
						</tr>
						<tr style="text-align: center; vertical-align: middle">
							<td style="border: 1px solid #000000;">P/N</td>
							<td style="border: 1px solid #000000;">Part Number</td>
						</tr>
						<tr style="text-align: center; vertical-align: middle">
							<td style="border: 1px solid #000000;">PMCS</td>
							<td style="border: 1px solid #000000;">Preventive Maintenance Checks and Services</td>
						</tr>
						<tr style="text-align: center; vertical-align: middle">
							<td style="border: 1px solid #000000;">R/S</td>
							<td style="border: 1px solid #000000;">Radar Scattering</td>
						</tr>
						<tr style="text-align: center; vertical-align: middle">
							<td style="border: 1px solid #000000;">R/T</td>
							<td style="border: 1px solid #000000;">Radar Transparent</td>
						</tr>
						<tr style="text-align: center; vertical-align: middle">
							<td style="border: 1px solid #000000;">TM</td>
							<td style="border: 1px solid #000000;">Technical Manual</td>
						</tr>
						<tr style="text-align: center; vertical-align: middle">
							<td style="border: 1px solid #000000;">ULCANS</td>
							<td style="border: 1px solid #000000;">Ultra Lightweight Camouflage Net Systems</td>
						</tr>
						<tr style="text-align: center; vertical-align: middle">
							<td style="border: 1px solid #000000;">W, w</td>
							<td style="border: 1px solid #000000;">Width</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</body>

</html>
