<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ULCANS | Maintenance</title>
        <!-- Bulma -->
        <link rel="stylesheet" href="../../css/bulma.min.css">
        <!-- CSS -->
		<link rel="stylesheet" href="../../css/style.css">
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="../../images/favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="../../images/favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="../../images/favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="../../images/favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="../../images/favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="../../images/favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="../../images/favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="../../images/favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="../../images/favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="../../images/favicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../../images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="../../images/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../../images/favicons/favicon-16x16.png">
		<link rel="manifest" href="../../images/favicons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="../../images/favicons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
        <!-- Font Awesome -->
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <!-- JS -->
        <script defer src="../../js/navbar.js"></script>
    </head>

    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="container">
				<div class="navbar-brand">
					<p class="navbar-item">
						<a href="http://fibrotexusa.com" target="_blank">
							<img src="../../images/icons/fusa-logo.png" alt="Fibrotex company logo" height="30">
						</a>
					</p>

					<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
						data-target="navbarBasicExample">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>

				<div id="navbarBasicExample" class="navbar-menu">
					<div class="navbar-start">
						<a class="navbar-item" href="../../index.html">Home</a>

						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link" href="#">Configuration</a>

							<div class="navbar-dropdown">
								<a class="navbar-item" href="../config/typ_configs.html">
									<span class="icon is-small">
										<img src="../../images/icons/Icon_Configuration_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Typical Configurations</span>
								</a>
								<a class="navbar-item" href="../config/config_calculator.html">
									<span class="icon is-small">
										<img src="../../images/icons/Icon_Configuration_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Configuration Calculator</span>
								</a>
								<a class="navbar-item" href="../config/config_list.html">
									<span class="icon is-small">
										<img src="../../images/icons/Icon_Configuration_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Configuration List</span>
								</a>
							</div>
						</div>

						<a class="navbar-item" href="../critical_considerations.html">Critical Considerations</a>
						<a class="navbar-item" href="../equipment.html">Equipment Description</a>

						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link" href="../procedures.html">Procedures</a>

							<div class="navbar-dropdown">
								<a class="navbar-item" href="../setup.html">
									<span class="icon is-small">
										<img src="../../images/icons/Icon_SetUp_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Erect</span>
								</a>
								<a class="navbar-item" href="../tear_down.html">
									<span class="icon is-small">
										<img src="../../images/icons/Icon_TearDown_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Strike</span>
								</a>
							</div>
						</div>

						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link is-active" href="../maintenance.html">Maintenance</a>

							<div class="navbar-dropdown">
								<a class="navbar-item" href="../maintenance.html">
									<span class="icon is-small">
										<img src="../../images/icons/Icon_Maintenance_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Screen Repair</span>
								</a>
								<a class="navbar-item is-active" href="../maintenance/maintain2.html">
									<span class="icon is-small">
										<img src="../../images/icons/Icon_Lacing_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Becket Loop Repair</span>
								</a>
								<a class="navbar-item" href="../maintenance/maintain3.html">
									<span class="icon is-small">
										<img src="../../images/icons/Icon_Maintenance_120x120.png">
									</span>
									<span>&nbsp;&nbsp;PMCS</span>
								</a>
							</div>
						</div>

						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link" href="../references.html">References</a>

							<div class="navbar-dropdown">
								<a class="navbar-item" href="../references.html">
									<span class="icon is-small">
										<img src="../../images/icons/Icon_References_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Abbreviations & Acronyms</span>
								</a>
								<a class="navbar-item" href="../refs/r1.html">
									<span class="icon is-small">
										<img src="../../images/icons/Icon_References_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Documents</span>
								</a>
								<a class="navbar-item" href="../refs/r2.html">
									<span class="icon is-small">
										<img src="../../images/icons/Icon_Safety_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Safety Warnings</span>
								</a>
							</div>
						</div>
					</div>

					<div class="navbar-end">
						<div class="navbar-item">
							<p class="navbar-item has-text-black"><em>ULCANS Increment 1</em></p>
						</div>
					</div>
				</div>
			</div>
		</nav>

        <section class="section">
            <div class="container">

				<h1 class="subtitle has-text-weight-bold is-2 has-text-centered">MAINTENANCE</h1>

                <a href="../maintenance.html">Previous</a>
                <span> | </span>
                <a href="maintain3.html">Next</a>
				<br><br>

				<h1 class="subtitle has-text-weight-bold is-4">BECKET LOOP REPAIR</h1>

				<div class="rows">
                    <div class="row">
                        <div class="content is-medium">
							<ul>
                                <li>A missing or broken becket loop may be bypassed by looping through next available becket loop.</li>
                                <li>When more than one becket loop in a row is missing or broken, replace them using available tie material.</li>
                                <li>If three or more of the same kind of loops (short, long) in a row are damaged or missing, replace screen.</li>
                            </ul>
						</div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
