<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ULCANS | References</title>
		<!-- Bulma -->
		<link rel="stylesheet" href="../../css/bulma.min.css">
		<!-- CSS -->
		<link rel="stylesheet" href="../../css/navbar.css">
		<link rel="stylesheet" href="../../css/style.css">
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="../../images/favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="../../images/favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="../../images/favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="../../images/favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="../../images/favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="../../images/favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="../../images/favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="../../images/favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="../../images/favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="../../images/favicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../../images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="../../images/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../../images/favicons/favicon-16x16.png">
		<link rel="manifest" href="../../images/favicons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="../../images/favicons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<!-- Font Awesome -->
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		<!-- JS -->
		<script defer src="../../js/navbar.js"></script>
	</head>

	<body class="has-navbar-fixed-top">
		<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
			<div class="container">
				<div class="navbar-brand">
					<!-- <p class="navbar-item">
						<a href="http://fibrotexusa.com" target="_blank">
							<img src="images/icons/fusa-logo.png" alt="Fibrotex company logo" height="30">
						</a>
					</p> -->
					<p class="navbar-item">
						<a href="#" class="title has-text-link has-text-weight-bold"><em>ULCANS Increment 1</em></a>
					</p>

					<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
						data-target="navbarBasicExample">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>

				<div id="navbarBasicExample" class="navbar-menu">
					<div class="navbar-start">
						<a class="navbar-item" href="../../index.html">Home</a>

						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link" href="../../views/config/typ_configs.html">Configuration</a>

							<div class="navbar-dropdown">
								<a class="navbar-item" href="../../views/config/typ_configs.html">
									<span class="icon is-small">
										<img src="../../images/icons/Icon_Configuration_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Typical Configurations</span>
								</a>
								<a class="navbar-item" href="../../views/config/config_calculator.html">
									<span class="icon is-small">
										<img src="../../images/icons/Icon_Configuration_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Configuration Calculator</span>
								</a>
								<a class="navbar-item" href="../../views/config/config_list.html">
									<span class="icon is-small">
										<img src="../../images/icons/Icon_Configuration_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Configuration List</span>
								</a>
							</div>
						</div>

						<a class="navbar-item" href="../../views/critical_considerations.html">Critical Considerations</a>
						<a class="navbar-item" href="../../views/equipment.html">Equipment Description</a>

						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link" href="../../views/procedures.html">
								Procedures
							</a>

							<div class="navbar-dropdown">
								<div class="nested navbar-item dropdown">
									<div class="dropdown-trigger">
										<a class="navbar-link is-arrowless" href="../../views/setup.html" aria-haspopup="true" aria-controls="dropdown-menu">
											<span class="icon is-small">
												<img src="../../images/icons/Icon_SetUp_120x120.png">
											</span>
											<span>&nbsp;&nbsp;Erect&nbsp;&nbsp;</span>
											<!-- <span class="icon is-small">
												<i class="fas fa-angle-down" aria-hidden="true"></i>
											</span> -->
										</a>
									</div>
									<div class="dropdown-menu" id="dropdown-menu" role="menu">
										<div class="dropdown-content erect">
											<a href="../../views/setup.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Net Assembly Selection</span>
											</a>
											<a href="../../views/setup/vid1.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Net Assembly Preparation</span>
											</a>
											<a href="../../views/setup/vid2.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Folding Net Assembly</span>
											</a>
											<a href="../../views/setup/setup1.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Deployment - 1</span>
											</a>
											<a href="../../views/setup/vid3.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Deployment - 2</span>
											</a>
											<a href="../../views/setup/vid4.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Deployment - 3</span>
											</a>
										</div>
									</div>
								</div>
								<hr class="navbar-divider">
								<div class="nested navbar-item dropdown">
									<div class="dropdown-trigger">
										<a class="navbar-link is-arrowless" href="../../views/teardown.html" aria-haspopup="true" aria-controls="dropdown-menu">
											<span class="icon is-small">
												<img src="../../images/icons/Icon_TearDown_120x120.png">
											</span>
											<span>&nbsp;&nbsp;Strike&nbsp;&nbsp;</span>
											<!-- <span class="icon is-small">
												<i class="fas fa-angle-down" aria-hidden="true"></i>
											</span> -->
										</a>
									</div>
									<div class="dropdown-menu" id="dropdown-menu" role="menu">
										<div class="dropdown-content">
											<a href="../../views/teardown.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_TearDown_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Retrieval - 1</span>
											</a>
											<a href="../../views/teardown/down1.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_TearDown_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Retrieval - 2</span>
											</a>
											<a href="../../views/teardown/vid1.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_TearDown_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Hexagon Screen Fold Procedure</span>
											</a>
											<a href="../../views/teardown/vid2.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_TearDown_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Rhombic Screen Fold Procedure</span>
											</a>
											<a href="../../views/teardown/vid3.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_TearDown_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Folding Net Assembly</span>
											</a>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<!-- <div class="navbar-item has-dropdown is-hoverable">
								<a class="navbar-link" href="../../views/procedures.html">Procedures</a>

								<div class="navbar-dropdown">
									<a class="navbar-item" href="../../views/setup.html">
										<span class="icon is-small">
											<img src="../../images/icons/Icon_SetUp_120x120.png">
										</span>
										<span>&nbsp;&nbsp;Erect</span>
									</a>
									<hr class="navbar-divider">
									<a class="navbar-item" href="../../views/teardown.html">
										<span class="icon is-small">
											<img src="../../images/icons/Icon_TearDown_120x120.png">
										</span>
										<span>&nbsp;&nbsp;Strike</span>
									</a>
								</div>
							</div> -->

					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link" href="../../views/maintenance.html">Maintenance</a>

						<div class="navbar-dropdown">
							<a class="navbar-item" href="../../views/maintenance.html">
								<span class="icon is-small">
									<img src="../../images/icons/Icon_Maintenance_120x120.png">
								</span>
								<span>&nbsp;&nbsp;Screen Repair</span>
							</a>
							<a class="navbar-item" href="../../views/maintenance/maintain2.html">
								<span class="icon is-small">
									<img src="../../images/icons/Icon_Lacing_120x120.png">
								</span>
								<span>&nbsp;&nbsp;Becket Loop Repair</span>
							</a>
							<a class="navbar-item" href="../../views/maintenance/maintain3.html">
								<span class="icon is-small">
									<img src="../../images/icons/Icon_Maintenance_120x120.png">
								</span>
								<span>&nbsp;&nbsp;PMCS</span>
							</a>
						</div>
					</div>

					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link is-active" href="../../views/references.html">References</a>

						<div class="navbar-dropdown is-right">
							<a class="navbar-item" href="../../views/references.html">
								<span class="icon is-small">
									<img src="../../images/icons/Icon_References_120x120.png">
								</span>
								<span>&nbsp;&nbsp;Abbreviations & Acronyms</span>
							</a>
							<a class="navbar-item" href="../../views/refs/r1.html">
								<span class="icon is-small">
									<img src="../../images/icons/Icon_References_120x120.png">
								</span>
								<span>&nbsp;&nbsp;Documents</span>
							</a>
							<a class="navbar-item is-active" href="../../views/refs/r2.html">
								<span class="icon is-small">
									<img src="../../images/icons/Icon_Safety_120x120.png">
								</span>
								<span>&nbsp;&nbsp;Safety Warnings</span>
							</a>
						</div>
					</div>
				</div>

				<!-- <div class="navbar-end">
					<div class="navbar-item">
						<p class="navbar-item has-text-black"><em>ULCANS Increment 1</em></p>
					</div>
				</div> -->
			</div>
		</nav>

		<section class="section">
			<div class="container">

				<h1 class="subtitle has-text-weight-bold is-2 has-text-centered">REFERENCES</h1>
				<a href="r1.html">Previous</a>
				<span> | </span>
				<a href="../../index.html">Home</a>

				<br><br>

				<div class="content is-medium">
					<h1 class="subtitle has-text-weight-bold has-text-black is-4">WARNING SUMMARY</h1>
					<p>
						The following are general safety precautions and instructions that people must
						understand and apply during phases of operation of the Ultra Lightweight Camouflage
						Net Systems (ULCANS) Increment I. Proper adherence to these instructions will ensure
						personal safety and the protection of property.
					</p>
				</div>

				<hr><br>

				<div>
					<h1 class="subtitle has-text-weight-bold has-text-black is-4">WARNING DESCRIPTIONS</h1>
					<!-- Burn -->
					<article class="media">
						<figure class="media-left">
							<p class="image is-128x128">
								<img src="../../images/icons/Safety_Burn_240x240.png" alt="Burn warning">
							</p>
						</figure>

						<div class="media-content">
							<div class="content is-medium">
								<h1 class="subtitle has-text-black is-5">BURN</h1>
								<p class="has-text-black">
									Personnel are subject to being burned by hot components and exhausts if deployment of
									the ULCANS is attempted with the equipment’s engine running or immediately after the
									engine is turned off. A cool down period shall be observed prior to ULCANS deployment
									except in emergency conditions; then wear hand protection and exercise extreme caution
									when working in area of hot components.
								</p>
							</div>
						</div>
					</article>
					<!-- Combustion -->
					<article class="media">
						<figure class="media-left">
							<p class="image is-128x128">
								<!-- <img src="../../images/icons/Safety_Combustion_240x240.png" alt="Combustion warning"> -->
								<img src="../../images/icons/Vapor.png" alt="Combustion warning">
							</p>
						</figure>

						<div class="media-content">
							<div class="content is-medium">
								<h1 class="subtitle has-text-black is-5">COMBUSTION</h1>
								<p class="has-text-black">
									Combustion by-products of ULCANS can be toxic. Evacuate the area and stay out of
									the path of smoke if ULCANS systems are exposed to fire. Self-contained breathing
									apparatus is required when fighting ULCANS fire.
								</p>
							</div>
						</div>
					</article>
					<!-- Eye Protection -->
					<article class="media">
						<figure class="media-left">
							<p class="image is-128x128">
								<!-- <img src="../../images/icons/Safety_Eye_Protection_240x240.png" alt="Eye Protection warning"> -->
								<img src="../../images/icons/Eye_Protection.png" alt="Eye Protection warning">
							</p>
						</figure>

						<div class="media-content">
							<div class="content is-medium">
								<h1 class="subtitle has-text-black is-5">EYE PROTECTION</h1>
								<p class="has-text-black">
									Particles of dirt and debris carried by netting/garnish can be scraped off and fall into
									the operator’s eyes when looking upward during setup and takedown of ULCANS. Eye
									protection is required during setup and takedown operations of ULCANS.
								</p>
							</div>
						</div>
					</article>
					<!-- Fire -->
					<article class="media">
						<figure class="media-left">
							<p class="image is-128x128">
								<img src="../../images/icons/Safety_Fire_240x240.png" alt="Fire warning">
							</p>
						</figure>

						<div class="media-content">
							<div class="content is-medium">
								<h1 class="subtitle has-text-black is-5">FIRE</h1>
								<p class="has-text-black">
									Volatile fuels and vehicle exhaust can create a fire hazard and can cause explosions.
									These hazards are always present but most prevalent during hot weather. When volatile
									fuels or vehicle exhaust are present under ULCANS, steps will be undertaken to insure
									adequate ventilation of the camouflaged area.
								</p>
							</div>
						</div>
					</article>
					<!-- Lift -->
					<article class="media">
						<figure class="media-left">
							<p class="image is-128x128">
								<img src="../../images/icons/Safety_Lift_240x240.png" alt="Lift warning">
							</p>
						</figure>

						<div class="media-content">
							<div class="content is-medium">
								<h1 class="subtitle has-text-black is-5">LIFT</h1>
								<p class="has-text-black">
									To prevent personal injury, a minimum of a two-person lift is required for both the
									ULCANS screen system and the support system storage/transport containers. Components may
									increase in weight due to trapped or absorbed water. Use additional personnel as needed.
								</p>
							</div>
						</div>
					</article>
					<!-- Trip -->
					<article class="media">
						<figure class="media-left">
							<p class="image is-128x128">
								<img src="../../images/icons/Safety_Trip_240x240.png" alt="Trip warning">
							</p>
						</figure>

						<div class="media-content">
							<div class="content is-medium">
								<h1 class="subtitle has-text-black is-5">TRIP</h1>
								<p class="has-text-black">
									ULCANS tent pins may present a trip hazard. Drive tent pins deeply to minimize area
									protruding above ground. Select an area without tent pins for entry/egress through the
									screen.
								</p>
								<p class="has-text-black">
									Climbing on and around the equipment to deploy ULCANS can pose a fall hazard. Extreme
									caution shall be observed to avoid slippery or uneven surfaces and other trip hazards.
									Use handhold when provided and ladders when available.
								</p>
							</div>
						</div>
					</article>
				</div>
			</div>
		</section>
	</body>

</html>