<!DOCTYPE html>
<html lang="em">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ULCANS | Strike</title>
		<!-- Bulma -->
		<link rel="stylesheet" href="../../css/bulma.min.css">
		<!-- CSS -->
		<link rel="stylesheet" href="../../css/navbar.css">
		<link rel="stylesheet" href="../../css/style.css">
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="../../images/favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="../../images/favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="../../images/favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="../../images/favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="../../images/favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="../../images/favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="../../images/favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="../../images/favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="../../images/favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="../../images/favicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../../images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="../../images/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../../images/favicons/favicon-16x16.png">
		<link rel="manifest" href="../../images/favicons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="../../images/favicons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<!-- Font Awesome -->
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		<!-- JS -->
		<script defer src="../../js/navbar.js"></script>
	</head>

	<body class="has-navbar-fixed-top">
		<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
			<div class="container">
				<div class="navbar-brand">
					<!-- <p class="navbar-item">
						<a href="http://fibrotexusa.com" target="_blank">
							<img src="images/icons/fusa-logo.png" alt="Fibrotex company logo" height="30">
						</a>
					</p> -->
					<p class="navbar-item">
						<a href="#" class="title has-text-link has-text-weight-bold"><em>ULCANS Increment 1</em></a>
					</p>

					<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
						data-target="navbarBasicExample">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>

				<div id="navbarBasicExample" class="navbar-menu">
					<div class="navbar-start">
						<a class="navbar-item" href="../../index.html">Home</a>

						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link" href="../../views/config/typ_configs.html">Configuration</a>

							<div class="navbar-dropdown">
								<a class="navbar-item" href="../../views/config/typ_configs.html">
									<span class="icon is-small">
										<img src="../../images/icons/Icon_Configuration_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Typical Configurations</span>
								</a>
								<a class="navbar-item" href="../../views/config/config_calculator.html">
									<span class="icon is-small">
										<img src="../../images/icons/Icon_Configuration_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Configuration Calculator</span>
								</a>
								<a class="navbar-item" href="../../views/config/config_list.html">
									<span class="icon is-small">
										<img src="../../images/icons/Icon_Configuration_120x120.png">
									</span>
									<span>&nbsp;&nbsp;Configuration List</span>
								</a>
							</div>
						</div>

						<a class="navbar-item" href="../../views/critical_considerations.html">Critical Considerations</a>
						<a class="navbar-item" href="../../views/equipment.html">Equipment Description</a>

						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link is-active" href="../../views/procedures.html">
								Procedures
							</a>

							<div class="navbar-dropdown">
								<div class="nested navbar-item dropdown">
									<div class="dropdown-trigger">
										<a class="navbar-link is-arrowless" href="../../views/setup.html" aria-haspopup="true" aria-controls="dropdown-menu">
											<span class="icon is-small">
												<img src="../../images/icons/Icon_SetUp_120x120.png">
											</span>
											<span>&nbsp;&nbsp;Erect&nbsp;&nbsp;</span>
											<!-- <span class="icon is-small">
												<i class="fas fa-angle-down" aria-hidden="true"></i>
											</span> -->
										</a>
									</div>
									<div class="dropdown-menu" id="dropdown-menu" role="menu">
										<div class="dropdown-content erect">
											<a href="../../views/setup.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Net Assembly Selection</span>
											</a>
											<a href="../../views/setup/vid1.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Net Assembly Preparation</span>
											</a>
											<a href="../../views/setup/vid2.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Folding Net Assembly</span>
											</a>
											<a href="../../views/setup/setup1.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Deployment - 1</span>
											</a>
											<a href="../../views/setup/vid3.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Deployment - 2</span>
											</a>
											<a href="../../views/setup/vid4.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_SetUp_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Deployment - 3</span>
											</a>
										</div>
									</div>
								</div>
								<hr class="navbar-divider">
								<div class="nested navbar-item dropdown">
									<div class="dropdown-trigger">
										<a class="navbar-link is-arrowless is-active" href="../../views/teardown.html" aria-haspopup="true" aria-controls="dropdown-menu">
											<span class="icon is-small">
												<img src="../../images/icons/Icon_TearDown_120x120.png">
											</span>
											<span>&nbsp;&nbsp;Strike&nbsp;&nbsp;</span>
											<!-- <span class="icon is-small">
												<i class="fas fa-angle-down" aria-hidden="true"></i>
											</span> -->
										</a>
									</div>
									<div class="dropdown-menu" id="dropdown-menu" role="menu">
										<div class="dropdown-content">
											<a href="../../views/teardown.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_TearDown_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Retrieval - 1</span>
											</a>
											<a href="../../views/teardown/down1.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_TearDown_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Retrieval - 2</span>
											</a>
											<a href="../../views/teardown/vid1.html" class="dropdown-item is-active">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_TearDown_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Hexagon Screen Fold Procedure</span>
											</a>
											<a href="../../views/teardown/vid2.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_TearDown_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Rhombic Screen Fold Procedure</span>
											</a>
											<a href="../../views/teardown/vid3.html" class="dropdown-item">
												<span class="icon is-small">
													<img src="../../images/icons/Icon_TearDown_120x120.png">
												</span>
												<span>&nbsp;&nbsp;Folding Net Assembly</span>
											</a>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<!-- <div class="navbar-item has-dropdown is-hoverable">
								<a class="navbar-link" href="../../views/procedures.html">Procedures</a>

								<div class="navbar-dropdown">
									<a class="navbar-item" href="../../views/setup.html">
										<span class="icon is-small">
											<img src="../../images/icons/Icon_SetUp_120x120.png">
										</span>
										<span>&nbsp;&nbsp;Erect</span>
									</a>
									<hr class="navbar-divider">
									<a class="navbar-item" href="../../views/teardown.html">
										<span class="icon is-small">
											<img src="../../images/icons/Icon_TearDown_120x120.png">
										</span>
										<span>&nbsp;&nbsp;Strike</span>
									</a>
								</div>
							</div> -->

					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link" href="../../views/maintenance.html">Maintenance</a>

						<div class="navbar-dropdown">
							<a class="navbar-item" href="../../views/maintenance.html">
								<span class="icon is-small">
									<img src="../../images/icons/Icon_Maintenance_120x120.png">
								</span>
								<span>&nbsp;&nbsp;Screen Repair</span>
							</a>
							<a class="navbar-item" href="../../views/maintenance/maintain2.html">
								<span class="icon is-small">
									<img src="../../images/icons/Icon_Lacing_120x120.png">
								</span>
								<span>&nbsp;&nbsp;Becket Loop Repair</span>
							</a>
							<a class="navbar-item" href="../../views/maintenance/maintain3.html">
								<span class="icon is-small">
									<img src="../../images/icons/Icon_Maintenance_120x120.png">
								</span>
								<span>&nbsp;&nbsp;PMCS</span>
							</a>
						</div>
					</div>

					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link" href="../../views/references.html">References</a>

						<div class="navbar-dropdown is-right">
							<a class="navbar-item" href="../../views/references.html">
								<span class="icon is-small">
									<img src="../../images/icons/Icon_References_120x120.png">
								</span>
								<span>&nbsp;&nbsp;Abbreviations & Acronyms</span>
							</a>
							<a class="navbar-item" href="../../views/refs/r1.html">
								<span class="icon is-small">
									<img src="../../images/icons/Icon_References_120x120.png">
								</span>
								<span>&nbsp;&nbsp;Documents</span>
							</a>
							<a class="navbar-item" href="../../views/refs/r2.html">
								<span class="icon is-small">
									<img src="../../images/icons/Icon_Safety_120x120.png">
								</span>
								<span>&nbsp;&nbsp;Safety Warnings</span>
							</a>
						</div>
					</div>
				</div>

				<!-- <div class="navbar-end">
					<div class="navbar-item">
						<p class="navbar-item has-text-black"><em>ULCANS Increment 1</em></p>
					</div>
				</div> -->
			</div>
		</nav>

		<section class="section">
			<div class="container">

				<h1 class="subtitle has-text-weight-bold is-2 has-text-centered">PROCEDURES - STRIKE</h1>

				<a href="down1.html">Previous</a>
				<span> | </span>
				<a href="vid2.html">Next</a>

				<br><br>

				<h1 class="subtitle has-text-weight-bold is-4">HEXAGON SCREEN FOLD PROCEDURE</h1>
				<video controls>
					<source src="../../video/FoldHex.mp4" type="video/mp4">
				</video>

			</div>
		</section>
	</body>

</html>
